@font-face {
    font-family: 'PoetsenOne';
    src: url(asset/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: 'Poly';
    src: url(asset/poly.regular.ttf);
}

@font-face {
    font-family: 'InterBold';
    src: url(asset/Inter-Bold.otf);
}

@font-face {
    font-family: 'InterReg';
    src: url(asset/Inter-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: url('asset/BGDASHBOARDKASIR.svg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    margin-top: -20px;
}

#tagline {
    font-family: Poly;
    font-size: 36px;
    color: white;
    margin: -30px 0 15px 0;
}

#neworder {
    font-family: PoetsenOne;
    font-size: 26px;
    width: 350px;
    height: 58px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    background-color: #FF9C3D;
    color: black;
}